<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Document</title>
</head>
<body>

<a href="/">home</a>

<div class="row-container">

  <form action="/getcart" method="get">
    <h1>Enter your budget </h1>
    <div class="col-container">
      <input placeholder="enter your budget" name="budget">
      <button class="add-btn">Generate Cart</button>
    </div>
  </form>

</div>



</body>
</html>