<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Document</title>
</head>
<body>
  
  <a href="/">home</a>

  <div>
    <h1>Cart for {{budget}}</h1>
    {% for product in cart %}
    <img src="../static/images/{{product.image}}">
    <div class="col-container underlining">
      Product: {{product.name}} Price: {{product.price}}
    </div>
    {% endfor %}
  </div>





</body>
</html>