<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Document</title>
</head>
<body>

<a href="/">home</a>


<form action="/updateprice" method="get">
  <h1>Enter the inflation bottom range </h1>
  <div class="col-container">
    <input placeholder="enter the inflation bottom range" name="bottom_range">
    <button class="add-btn">Do inflation</button>
  </div>
</form>




</body>
</html>